
<div *ngIf="employeeProject">
    <h2><span>Employee Project</span> {{employeeProject.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Employee</span></dt>
        <dd>
            <div *ngIf="employeeProject.employee">
                <a [routerLink]="['/employee', employeeProject.employee?.id]">{{employeeProject.employee?.firstName}}</a>
            </div>
        </dd>
        <dt><span>Project</span></dt>
        <dd>
            <div *ngIf="employeeProject.project">
                <a [routerLink]="['/project', employeeProject.project?.id]">{{employeeProject.project?.projectTitle}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'employee-project/'+ employeeProject.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
